@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body{
    font-weight: lighter;
}

.body__para{
    line-height: 24px ;
}

.title__description{
    font-size: 20px;
    text-align: center;
}

.description__bubble{
padding-left: 48px;
padding-right: 48px;
}


.header__above--line{
    font-size: 48px;
    text-align: center;
    padding: 12px;
}

.header__promo{
    font-size: 48px;
    padding-bottom: 24px;
}


/* logo of my name */

.gif__maryam{
    width: 250px;
    height: 180px;
}

.logo__wrapper{
    margin-top: 20px;
    padding-left: 28px
}

/* capital overview */

.capital__overview{
    font-size: 20px;
    line-height: 1.3;
}

.brand__mission--img{
    width: 450px;
    height: 250px;
    
}

/* promo site image */
.promo__img{
    width: 600px;
    height: 500px;
    border-radius: 25px;
}

.promo__img--wrapper{
    border-radius: 25px;
    padding-left: 40px;
}

.promo__Wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.promo__button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    background: #3D3B3B;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: box-shadow 0.3s ease; 
    color: #F5F1F1;
    /* font-family: "DM Sans", sans-serif; */
    font-family: 'Hoefler Text', serif;
    font-weight: 400;

}

.promo__button--wrapper{
    margin-top: 40px;
}

.promo__button:hover { 
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); 
}

.promo__description--wrapper{
    padding: 40px;
    margin-bottom: 20px;
}

.promo__description{
    font-size: 20px;
}

/* discover the magic button */

.discover__button--wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}


.discover__button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    background: #FF0D86;
    border-radius: 55px;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Hoefler Text', serif;
    font-weight: 500;
    font-style: normal;

}



/* Captial Final Design */
.iterations__container{
    display: flex;
    flex-direction: row;
}

.capital__iteration__img{
    width: 320px;
    height: 800px;
}

.iteration__scroll{
    position: relative;
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.scroll__for--iteration{
    width: 320px;
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;  
    display: flex;
    justify-content: center; 
    position:absolute;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #332D30;
}

.web__scroll {
    width: 800px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;  
    display: flex;
    justify-content: center; 
    position:absolute;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #332D30;
}

.parent__scroll--web{
    position: relative;
    width: 250px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.final__design--capitalWeb{
    width: 800px;
    height: 1680px;
}

.mobile__scroll {
    width: 220px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;  
    display: flex;
    justify-content: center; 
    position:absolute;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #332D30;
}

.parent__scroll--mobile{
    position: relative;
    width: 250px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.final__design--capitalMobile{
    width: 220px;
    height: 2000px;
}

.capital__container{
    margin-top: 40px;
}

.capital__final--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* Furni Final Images */

.final__design--furniImg{
    width: 400px;
    height: 800px;
}

/* GIF */

.roadmap__gif{
    width: 1000px;
    height: 600px;
    border-radius: 45px;
    border-style: solid;
    border-color: #332D30;
    border-width: 2px;
}


/* scroll effect */
.scroll {
    width: 400px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;  
    display: flex;
    justify-content: center; 
    position:absolute;
    border-radius: 25px;
    border-width: 4px;
    border-style: solid;
    border-color: #332D30;
}

.scroll-fix{
    margin: 4px, 4px;
    padding: 4px;
    width: 400px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;  
    display: flex;
    justify-content: center; 
    position:absolute;
}

.parent__scroll{
    position: relative;
    /* height: 100%;  */
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
}

.scroll__container{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.final__design--furniImg{
    border-radius: 15px;

}

.features__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature__changes--wrapper{
    display: flex;
    justify-content: center;
}

.explain_container{
    padding-top: 36px;
    width: 500px;
    font-size: 20px;
}

/* research furni */

.furniture__img{
    width: 400px;
    height: 250px;
    border-radius: 45px;
    padding: 20px;
}

/* GRAD SECTION */

.grad_pic{
    width: 250px;
    height: 380px;
    border-radius: 25px;
    border-color: #332D30;
    border-style: solid;
    border-width: 2px;

}

.info__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.info__description{
    line-height: 1.5;
    font-size: 20px;
    /* padding-right: 140px; */
    text-align: left;
    width: 950px;
}



/* prototype gifs */
.prototype__gif{
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}




/* research */

.research__img{
    width: 400px;
    height: 400px;
    border-radius: 25px;
}

.research__img--wrapper{
    border-radius: 25px;
}

.white--research__img{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    margin: 60px;
}

.white__research--tag{
    border-radius: 25px;
}

.research__description{
    width: 500px;
    padding-left: 40px;
    line-height: 26px;
    font-size: 20px;
}

.research__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* Problem statement */

.problem__statement{
    font-size: 20px;
    text-align: center;
}

.pain__points{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.low__fidelity--prototypes{
    width: 1000px;
    height: 280px;
    display: flex;
    justify-content: center;
}

.low__fidelity--prototypes--wrapper{
    display: flex;
    justify-content: center;
}

.apple__watch--img{
    width: 200px;
    height: 450px;
}



/* VIDEOS */
video{
    width: 300px;
    height: 550px;
    margin-left: 40px;
    margin-right: 40px;
}

.video__row{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.video__wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.video__description{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.video__title{
    font-size: 32px;
}

.video__para{
    font-size: 20px;
}


h4{
    font-weight: lighter;
    line-height: 1.3;
 
}


/* APPLE WATCH */

.apple__watch--wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.apple__watch--titleWrapper{
    display: flex;
    justify-content: center;
}

.apple__watch--title{
    font-size: 24px;
}

.apple__watch--description{
   margin-right: 100px;
}

.apple__watch--gif{
    width: 200px;
    padding-left: 20px;
}

/* PERSONAS */

.persona__container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.persona__img{
    width: 550px;
    padding-left: 10px;
    padding-right: 10px;
}

/* PROBLEM STATEMENT */
.problem__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.mockups__img{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 45px;
}

.problem__statement{
    width: 500px;
    padding: 10px;
    margin: 20px;
    line-height: 30px;
}

/* COMPETITIVE ANALYSIS STUDY FIT */

.competitve__analysis--img{
    width: 1000px;
    height: 700px;
}

.analysis__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GOALS */

.goals__studyfit{
    line-height: 28px;
    font-size: 20px;
}

.goals__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

/* study fit features */

.feature__img{
    width: 1000px;
}

.feature__wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* OVERVIEW CASE STUDY */

.overview__wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items:flex-start;

}

.overview__title{
    font-size: 24px;
    font-family: 'Hoefler Text', serif;
    font-weight: 400;
    font-style: normal;
}

.overview__para{
 
 margin-right: 10px;
 justify-content: start;
 width: 50%;
}

.overview__details{
    padding-left: 20px;
    width: 50%;
}

.overview__line{
    border-color: #332D30;
    border-radius: 99px;
}

.overview__details--title{
    font-size: 24px;
    padding: 5px;
    font-family: 'Hoefler Text', serif;
  font-weight: 400;
  font-style: normal;
    width: 120px;
}

h2{

    font-family: 'Hoefler Text', serif;

  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.overview__answer{
    font-size: 16px;
    padding-left: 24px;
}

.overview__details--wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview__answer{
    line-height: 1.2;
}

/*  */

.social__link:hover{
    border-color: #FF69B4;
}

.biolens{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-top: 20px;
}

.click__Project{
    text-decoration: none;
}

.treejack__img{
    width: 450px;
}

.biolens__img{
    width: 800px;
}

.interview__img{
    width: 450px;
     height: 250px;
}

.interview__Description{
    width: 450px;
}

.design__System{
    width: 550px;
    height: 750px;
}

.design__System--img{
    width: 650px;
    height: 550px;
}

.user__flow{
    width: 650px;
}

.design__System--wrapper{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.logo__Hover:hover{
   color: #FF0D86;
}

.user__Persona{
    width: 5500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.persona__Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.treejack__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hoefler Text', serif;
}

.casestudy__List--Item{
    margin-top: 48px;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.heading__Title{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.capital__Thumbnail{
    width: 600px;
}

.competitive{
    display: flex;
    justify-content: center;  
}

.competitive__website{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.competitive__img{
    width:350px ;
    height: 200px;
    border-radius: 25px;
}

.iterations__img{
    width:350px ;
}

.link__FinalDesign{
    font-size: 22px;
    padding-top: 20px;
    padding-right: 10px;
    color: #332D30;
}

.link__FinalDesign:hover{
    color: #FF69B4;
}

.finalDesign1__img{
    width: 600px;
}

.finalDesign2__img{
    width: 150px;
}

.bp__heading{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.heading{
    display: flex;
    justify-content: center;
}

.heading__box{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    width: 1350px;
    height: 250px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 30px 0px;
}

.header__img{
    width: 100%;
    border-radius:25px;
    box-shadow: 0 10px 30px 0px;
}

.name{
    color: #F5F1F1;
    font-size: 64px;
}

.description{
    color: #F5F1F1;
    font-size: 32px;
}

.homepage__line{
    border: 1.2px solid #332D30;
    margin-bottom: 40px;
    border-radius: 99px;
}


.line{
    border: 1.2px solid #332D30;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 99px;
}


.grad{
   
    background:#FFFFFF;
}

.logo{
    font-size: 32px;
    font-weight: 400;
    color: #332D30;
    font-family: 'Hoefler Text', serif;
}

html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}

h1{
    color: #332D30;
}


li{
    color: #332D30;
}

.click{
    cursor: pointer;
    transition: all 30ms ease;
    
}

.click:hover{
    transform: scale(1.1);
    background-color: #FF69B4; 
}

.click:active{
    transform: scale(0.8);
}

section{
    background-color:#F5F1F1 ;
    transition: all 300ms ease;
}

.container{
    padding: 50px 0;
}

.row{
    width: 100%;
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 12px;
}

button{
    cursor: pointer;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content:"" ; 
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #332D30;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: #FF0D86;
}

.link__hover-effect--black:after{
    background-color: #FF0D86;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

nav , .scroll,  .header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms;
}

.modal--open nav ,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
}

/*  NAVIGATION  */

#personal-logo{
    width: 240px;
    height: 100px;
    color: #F5F1F1;
     
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    max-width: 1400px ;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
    font-family: 'Hoefler Text', serif;

}

.nav__link--anchor{
    text-decoration: none;
    font-size: 20px;
    color: #332D30;
    font-family: 'Hoefler Text', serif;
  font-weight: 400;
  font-style: normal;
}

li{
    list-style-type: none;
}

.fa-adjust{
    font-size: 30px;
}

.fa-house{
    font-size: 30px;
}

/* LANDING PAGE  */

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title{
    font-size: 64px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
    font-weight: lighter;
}

.header__para{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    margin: 0 auto;
    color: #332D30;
}

.title__second{
    color: #FF0D86;
    font-size: 80px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
    font-weight: lighter;
}

.title__third{
    color: #332D30;
    font-size: 48px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
}

.highlight{
    color: #332D30;
}

p{
    line-height: 1.5;
    font-size: 16px;
    max-width: 450px;
    text-align: center;
}

.social__list{
    margin-top: 16px;
    display: flex;
    justify-content: center;

}

.social__link{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #332D30;
    padding: 6px;
    width: 52px;
    height: 52px;
    font-size: 24px;
    margin-right: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 1.2px;
    border-style: solid;
}

.mail__btn{
    width: 70px ;
    height: 70px;
    font-size: 32px ;
    border-radius:50% ;
    background-color: #F5F1F1;
    border-style: solid;
    color: #332D30;
    position: absolute;
    border-color: #332D30;
    bottom: 90px;
    right: 40px;
    border-width: 1.2px;
}

/*  PROJECTS */

.project{
    display: flex;
    justify-content: start;
    margin-bottom: 80px;
    align-items: center;
   
}


.section__title{
    text-align: left;
    font-size:36px;
    padding-bottom: 10px;
    font-family: 'Hoefler Text', serif;
    font-weight: 400;
    font-style: normal;
  

}

.project__img{
    width: 100%;   
}

.project__wrapper{
    border-radius: 10px;
    box-shadow: 0 10px 30px 0px;
    overflow: hidden;
    width: 500px;
    height: 280px;
    display: flex;
    justify-content: center;
    transition: 1s ease;
}

.project__wrapper:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}

.project__wrapper--link{
    text-decoration: none;
    padding: 0px;
    cursor: pointer;
    color: #332D30;
}

.project__wrapper--link:hover{
    opacity:1;
    transition: 1s ease;
}


.project__description--title{
    font-size: 56px;
    font-weight: lighter;
}

.project__description--sub-title{
    margin: 8px 0px;
    color: #FF0D86;
}


.project__description{
    padding-left: 80px;
    color: #332D30;
    max-width: 550px;
}


.project__description__software{
    padding-right: 110px;
    color: #332D30;
    max-width: 550px;
}

.project__description--para{
    text-align: left;
    margin: 16px 0px;
}

.project__description--link{
    color: #FF0D86;
    font-size: 20px;
    margin-right: 16px ;
    text-decoration: none;
}

/*  FOOTER */

.copyright__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: #332D30;
}

.footer__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright__info{
    width: 550px;
    color: #FF0D86;
}

.footer{
    height: 86px;
    border-top: 2px solid var(--off-black, #332D30);
    background-color: #FFFFFF;
    padding: 2% 0;
    bottom: 0;
    width: 100%;
    position: relative; 
    bottom: 0; 
    left: 0; 
}

.footer__row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.footer__social--list{
    width: 100%;
    max-width: 400px;
    display: flex; 
    justify-content: space-around;
    justify-content: center;
    margin-bottom: 68px;
    align-items: center;
    padding-top: 20px;

}

.footer__copyright{
    color: #332D30;
}

.footer__anchor{
    position: relative;
    margin-bottom: 20px;
}

/* NO COLOR WHEN HOVER OVER LINKS */

.clickContrast{
    cursor: pointer;
    transition: all 30ms ease;
    
}

.clickContrast:hover{
    transform: scale(1.1);
    
}

.clickContrast:active{
    transform: scale(0.8);
}


/* FOOTER NEW */

.footer__row{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 0 ;
}

footer{
    background-color: #F5F1F1;
    border-top: 2px solid var(--off-black, #332D30);
}


.footer__social--list{
    width: 100%;
    max-width: 400px;
    display: flex; 
    justify-content: space-around;
    margin-bottom: 15px;

}

.footer__social--link:hover{
    color: #FF0D86;
}


.footer__social--link{
    color: #332D30;
}

.mail__btn:hover{
    border-color: #FF69B4;
}


/* ABOUT PAGE */

.about__Me--Title{
    font-size: 48px;
    margin-bottom: 12px;
    line-height: 1;
    font-weight: lighter;
}

.highlights__img{
    width: 240px;
    height: 240px;
    border-radius: 25px;
    border-color: #332D30;
    border-style: solid;
    border-width: 2px;
}

.highlights__wrapper{
    text-align: center;
    padding: 20px;
}

.highlights{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.highlights__caption{
    padding-top: 20px;
}

.highlights__title{
    font-weight: lighter;
}

.about__me--Wrapper{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

.about__me--section{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.travel__img{
    width: 180px;
    height: 280px;
    border-radius: 25px;
    border-color: #332D30;
    border-style: solid;
    border-width: 2px;
}

.books__img{
    width: 200px;
    height: 280px;
    border-radius: 25px;
    border-color: #332D30;
    border-style: solid;
    border-width: 2px;
}

.about__me--link{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about__me--link:hover{
    color:#FF69B4;
}

.about__me--subtitle{
    font-size: 32px;
    padding-bottom: 16px;
    color: #FF69B4;
    font-family: 'Hoefler Text', serif;
  font-weight: 400;
  font-style: normal;
   
}

.about__me--answer{
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: start;
}

.about__me--a{
    text-decoration: none;
    color: #332D30;
}

.astro__logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.astro{
    font-size: 24px;
    padding: 10px;
}

.astro__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.signs{
    padding-left: 10px;
}

.about__me--quote{
    width: 200px;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
}


/* MEDIA */

/* IPAD PRO  */
@media (max-width: 1024px) {

    .heading__box{
        width: 720px;
        height: 200px;
        box-shadow: 0 5px 15px 0px;
    }

    #bpBtn{
        display: none;
    }

    .casestudy__List--Item{
        padding-left:60px ;
        padding-right: 60px;
    }

    .treejack__img--wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    #myBtn{
        display: none;
    }

    .competitive__img{
        width: 280px;
        height: 160px;
    }

    .iterations__img{
        width: 280px;
    }

    .project__wrapper{
        width: 500px;
        margin-left: 20px;

    }


    .highlights__img{
        width: 170px;
        height: 150px;
    }

    .books__img{
        width: 180px;
        height: 240px;
    }

    .travel__img{
        width: 140px;
        height: 200px;
    }

    .project__description{
        margin-right: 20px;
    }
}


/* IPAD AIR  */
@media (max-width: 820px) {
    #bpBtn{
        display: none;
    }

    .heading__box{
        width: 620px;
        height: 180px;
        box-shadow: 0 5px 15px 0px;
    }

    .biolens{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .biolens__img{
        width: 320px;
    }

    .interview__img{
        width: 320px;
        height: 180px;
    }

    .competitive__website{
        width: 300px;
        margin: 0px;
        padding-top: none;
    }

    .interview__Description{
        width: 300px;
    }

    .heading__Title{
        margin-left: 65px;
        margin-right: 65px;
        text-align: center;
    }

    .competitive__img{
        width: 200px;
        height: 100px;
    }

    .iterations__img{
        width: 200px;
    }

    .casestudy__List--Item{
        padding-bottom: 32px;
    }

    #myBtn{
        display: none;
    }

    .finalDesign1__img{
        width: 300px;
    }

    .finalDesign2__img{

    }

    #myBtn{
        display: none;
    }

    .highlights__img{
        width: 140px;
        height: 130px;
    }

    .books__img{
        width: 140px;
        height: 200px;
    }

    .travel__img{
        width: 100px;
        height: 150px;
    }

    .project__wrapper{
        width: 400px;
        height: 240px;
    }

    .project__description--title{
        font-size: 32px;
    }

    .project__description--para{
        font-size: 16px;
    }

    .interview__img{
        width: 300px;
        height: 180px;
        
    }

    .interview__Description{
        width: 300px;
        padding: 20px;
    }

    .biolens__img{
        width: 500px;
        height: 200px;
    }

    .overview__answer{
        font-size:12px;
    }


}

/* IPAD MINI */
@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }

    .header__para{
        font-size: 20px;
    }

    .modal{
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal__half{
        width: 100%;
    }

    #bpBtn{
        display: none;
    }

    #myBtn{
        display: none;
    }

    .iterations__img{
        width: 200px;
    }

    .competitive{
        display: flex; 
        justify-content: center;
        /* align-items: center; */
    }

    .project__wrapper{
        width: 360px;
        height: 220px;
        margin-left: 20px;
    }

    .project__description{
        padding-left: 20px;
    }


    .project__description--title{
        font-size: 24px;
    }

    .project__description--para{
        font-size: 16px;
    }
}

/* Surface Duo Pro 7 */

@media(max-width: 912px){
    .interview__img{
        width: 340px;
        height: 220px;
    }

    .interview__Description{
        width: 340px;
    }

    .overview__details--title{
        padding: 8px;
    }
}

/* Surface Duo */
@media(max-width: 540px){
    .nav__link--list{
        display: none;
    }

    .project__wrapper{
        width: 280px;
        height: 150px;
    }

    .mail__btn{
        width: 50px;
        height: 50px;
        right: 20px;
       top: 30px;
       border: none;
       background-color: transparent;
    }

    .title{
        font-size: 42px;
    }

    .title__second{
        font-size: 42px;
    }

    .header__para{
        font-size: 18px;
    }

    .section__title{
        font-size: 32px;
        color: #332D30;
    }

    .project__description{
        left: 0;
        padding: 10;
        width: 100%;
        text-align: center;
    }

    .project__description--title{
        font-size: 24px;
        font-weight: lighter;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .project__description--para{
        display: none;
    }

    .competitive__img{
        width: 150px;
        height: 80px;
    }

    .iterations__img{
        width: 150px;
    }

    .capital__Thumbnail{
        width: 350px;
    }

    .design__System{
        width: 350px;
    }

    .heading__box{
        width: 350px;
        height: 140px;
    }

    .interview__img{
        width: 150px;
        height: 100px;

    }

    .competitive__website{
        width: 200px;
    }

    .interview__Description{
        width: 180px;
    }

    #Diversions{
        display: none;

    }

    #bootcamp{
        display: none;
    }

    .overview__para{
        width: 400px;
    }

    .overview__details{
        display: none;
        padding: 0;
        width: 0%;
     }

     .header__img{
        width: 400px;
        height: 140px;
     }

     .heading__box{
        width: 400px;
        height: 140px;
     }
}


/* Small phones */

@media(max-width: 480px){

 

    #personal-logo{
        width: 180px;
        height: 100px;
    }

    .title{
        font-size: 42px;
    }

    .title__second{
        font-size: 42px;
    }

    .header__para{
        font-size: 18px;
    }


    .nav__link--list{
        display: none;
    }


    .shape--8{
        display: none;
    }

    .project__description--para{
        display: none;
    }

    .project__wrapper{
        width: 200px;
        height: 120px;
     
        
    }

    .homepage__line{
        display: none;
    }


    .project__description--title{
        font-weight: lighter;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .project__description--sub-title{
        display: none;
    }



    .project{
        margin-bottom: 40px;
        /* padding-left: 40px; */
    }

    .project__software{

    }

    .modal__half{
        padding: 40px;
    }

    #mybtn{
        display: none;
    }

    .mail__btn{
        width: 50px;
        height: 50px;
        right: 20px;
       top: 30px;
       border: none;
       background-color: transparent;
    }

    .heading__Title{
        width: 200px;
        /* margin-left: 50px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        text-align: center;
    }

    .casestudy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .casestudy__List--Item{
        width: 280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .capital__Thumbnail{
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .competitive__img{
        width: 200px;
        height: 100px;
    }

    .competitive{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .finalDesign1__img{
        width: 200px;
    }

    .finalDesign2__img{
        width: 200px;
    }

    .iterations__img{
        width: 250px;
    }

    .capital__Title{
        display: flex;
        /* margin-left: -25px; */
    }
    
    #bpBtn{
        /* display: none; */
        width: 40px;
        height: 40px;
        left: 10px;
        bottom: 68px;
    }

    .fa-arrow-up{
        font-size: 24px;
    }

    .container{
        padding-top: 10px;
    }

    .section__title{
     font-size: 32px;
     margin-bottom: 20px;
     
     
    }

    .header__img{
        width: 320px;
        height: 120px;
    }

    .heading__box{
        width: 320px;
        height: 120px;
        box-shadow: 0 5px 15px 0px;
    }

    .interview__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100px;
    }

    .interview__Description{
        width: 200px;
    }

    .competitive__website{
        /* width: 200px; */
        padding: none;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .treejack__img{
        width: 200px;
        height: 100px;
    }

    .treejack__img--wrapper{
        display: flex; justify-content: center; align-items: center; padding-top: 20px;
    }

    .biolens{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .biolens__img{
        width: 250px;
        height: 100px;
        /* display: none; */
    }

    .design__System{
        width: 250px;
        height: 400px;
    }

    .design__System--wrapper{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caption__Header{
        text-align: center;
    }

    .heading__box{
        display: none;
    }

    .bp__projects{
        display: none;
    }

    .bp__row{
        padding: none;
    }

    .project__description--title{
        font-size: 24px;
        text-align: center;
    }

    .project__img{
        width: 100%;
    }

    #bootcamp{
        display: none;
    }

    #Diversions{
        display: none;
    }

    .project__description--link{
        justify-content: center;
        align-items: center;
    }

    .overview__wrapper{
        display: flex; 
        justify-content: center;
        flex-direction: column;
        

    }

    .overview__para{
        text-align: center;
        width: 200px;
       
    }

    .overview__details{
       display: none;
       padding: 0;
       width: 0%;
    }
}